<div class="accordion-left">

  <accordion [isAnimated]="false">

    <accordion-group 
    heading="Languages." 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Native <strong><span class="default-highlight">English</span></strong></p>
      <p>Native <strong><span class="default-highlight">Hindi</span></strong></p>
      <p>Fluent <strong><span class="default-highlight">Bangla</span></strong></p>
      <p>Elementary <strong><span class="default-highlight">French</span></strong></p>
      <p>Elementary <strong><span class="default-highlight">Japanese</span></strong></p>
    </div>
    </accordion-group>

    <accordion-group 
    heading="University." 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>2024 - Jaypee Institute of Information Technology <strong><span class="default-highlight"> <br>Electronics and Communication</span></strong> 
      <ul>
        Bachelor in Technology, <span class="default-highlight">7 CGPA</span>
      </ul>
      <p>2020 - Bal Bharati Public School, Noida  <strong><span class="default-highlight"><br>Central Board of Secondary Education</span></strong> 
      <ul>
        <li>
          Senior Secondary Education(PCM + CS), AISSCE, <span class="default-highlight">80.4 %</span>
        </li>
      </ul>
      <p>2018 - Delhi Public School, Noida  <strong><span class="default-highlight"><br>Central Board of Secondary Education</span></strong> 
      <ul>
        <li>
          Secondary Education(General + French), AISSCE, <span class="default-highlight">84.6 %</span> 
        </li>
      </ul>
    </div>    
  </accordion-group>

    
    <accordion-group 
    heading="Used tools and languages"
    panelClass="customClass"
    class="accordion-title">
      <div class="tech-board">
    <div class="tech-cell">
        <i class="devicon-sqlite-plain-wordmark"></i>
    </div>
    <div class="tech-cell">
        <i class="devicon-angular-plain"></i>
    </div>
    <div class="tech-cell">
        <i class="devicon-javascript-plain"></i>
    </div>
    <div class="tech-cell">
        <i class="devicon-html5-plain"></i>
    </div>
    <div class="tech-cell">
        <i class="devicon-css3-plain"></i>
    </div>
    <div class="tech-cell">
        <i class="devicon-bootstrap-plain"></i>
    </div>
    <div class="tech-cell">
        <i class="devicon-python-plain"></i>
    </div>
    <div class="tech-cell">
        <i class="devicon-selenium-original"></i>
    </div>
    <div class="tech-cell">
        <i class="devicon-vscode-plain"></i>
    </div>
    <div class="tech-cell">
        <i class="devicon-postman-plain"></i>
    </div>
    <div class="tech-cell">
        <i class="devicon-npm-original-wordmark"></i>
    </div>
    <div class="tech-cell">
        <i class="devicon-docker-plain-wordmark"></i>
    </div>
    <div class="tech-cell">
        <i class="devicon-github-original"></i>
    </div>
    <div class="tech-cell">
        <i class="devicon-cplusplus-plain"></i> <!-- C++ icon -->
    </div>
    <div class="tech-cell">
        <i class="devicon-r-plain"></i> <!-- R icon -->
    </div>
    <div class="tech-cell">
        <i class="devicon-matlab-plain"></i> <!-- MATLAB icon -->
    </div>
    <div class="tech-cell">
        <i class="devicon-matplotlib-plain"></i> <!-- MATLAB icon -->
    </div>
    <div class="tech-cell">
        <i class="devicon-pandas-plain"></i> <!-- MATLAB icon -->
    </div>
    <div class="tech-cell">
        <i class="devicon-numpy-plain"></i> <!-- MATLAB icon -->
    </div>
</div>

    </accordion-group>
  
  </accordion>
  
</div>