<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; To be judged by Mr. Ankit Singh.</p>
      <div class="footer-icons">
        <a href="https://linkedin.com/in/aditya-roy-chowdhury-a248931b2" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/adiroy28852" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:adityaroy2.ar.ar@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://twitter.com/adiroyc" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
