<div class="row align-items-center default-container">
  <div class="col-lg-8">
    <div class="content">
      <div class="content-left">
        <h2 class="default-topic">About me.</h2>
        <p class="default-p">
          My name is Aditya Roy Chowdhury and I enjoy coding. Currently
          inspecting the prospect of
          <span class="default-highlight"
            >converting ideas to code, as a software engineer</span
          >.
        </p>
        <p>
          <!-- <img
            src="../../assets/bc01_a.jpg"
            alt="Barbara at a restaurant in SP"
            class="about-picture"
          /> -->
        </p>
        <p class="default-p">
          I am an Associate Software Engineer From Noida, India.
        </p>
        <p class="default-p">
          I got introduced to programming, back in 5 <sup> th </sup> grade, in a
          Web development course with simple HTML CSS and JS. While that didn't
          get me interested in creating websites itself, I started to discover
          Computer Science from an early age. I also used to play a lot of
          games, so synergizing with both, I dreamed during secondary and senior
          secondary school, of becoming a game developer.
        </p>
        <p class="default-p">
          I secured a seat in Electronics and Communication Engineering, so
          naturally, Computer Science started to seem hard. However, the aspect
          of Algorithms and DataStructures, coloquially known as DSA or AlgoDS,
          interested me a lot. After guidance from seniors, I started LeetCode.
          And perhaps entering the competitive scenario.
        </p>
        <p>
          <img src="../../assets/ratings.jpg" alt="" />
        </p>
        <p class="default-p">
          Initially, doing DSA was just to find a job. After a few months, it
          started feeling interesting. Albeit I was new to the competitive
          scenario, it has been 2 years on LeetCode now, and I have grinded my
          way through to getting to top 5%ile of the people sitewide, by
          competitive rankings. I also started taking CP and mathematics
          seriously, and now am active on Codefores, and Atcoder as well.
        </p>
        <p>
          <img src="../../assets/submissionchart.png" class="about-picture" />
        </p>
        <p class="default-p">
          Apart from my technical prospects, I have also had long pursuits in
          extracurricular aspects of life. I hold the title of
          <span class="default-highlight">संगीत प्रभाकर </span>, learnt fine
          arts for 4-5 years,
          <span class="default-highlight"
            >and have a good hand in pencil shading</span
          >, am an avid
          <span class="default-highlight">PC gamer, and fable enjoyer</span>, a
          geek who loves to watch and read
          <span class="default-highlight">anime, manga</span>, and any Japanese
          content in general
        </p>
        <p class="default-p">
          I am continuously learning and adapting to new technologies and
          methodologies. My goal is to create efficient, scalable, and
          user-friendly
          <span class="default-highlight"
            >software solutions that make a difference</span
          >. Whether it's front-end development (it sucks, tbh. But I can still
          do it), back-end services, or full-stack applications, Machine
          Learning & Artificial Intelligence, or creating just a pipeline, I am
          <span class="default-highlight"
            >passionate about every aspect of software development.</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
