<div class="accordion-left">
  <accordion [isAnimated]="false">
    <accordion-group
      heading="Achievements"
      [panelClass]="customClass"
      class="accordion-title"
    >
      <ul>
        <li>
          Solved <span class="default-highlight">800+ Questions</span> on Data
          Structures and Algorithms, across multiple platforms.
        </li>
        <li>
          Multiple top ranks globally;
          <span class="default-highlight">
            482 (Weekly 401), 379 (Weekly 402), 895 (Biweekly 115) in LeetCode
            contests.</span
          >
        </li>
        <li>
          Achieved rank 93 in March Easy ’23, and rank 88 in September Circuits
          ’23 on HackerEarth.
        </li>
        <li>
          Attained Knight badge on LeetCode, top contest ratings of
          <span class="default-highlight"
            >2048 (Top 2.13 %ile) on LeetCode and 1763 on HackerEarth</span
          >
        </li>
      </ul>
      <div class="accordion-text"></div>
    </accordion-group>

    <accordion-group
      heading="Projects."
      panelClass="customClass"
      class="accordion-title"
    >
      <div class="accordion-text">
        <strong
          ><span class="default-highlight">Rubiks Cube Solver</span></strong
        >
        <ul>
          <li>
            Modelled a 3x3 Rubiks cube in 3 different models/classes using
            standard Data Structures Present in C++
          </li>
          <li>
            Achieved a solving time of under 3 seconds for a Rubick cube jumbled
            8 times, using BFS, DFS and IDDFS algorithms.
          </li>
          <li>
            Created a hashing algorithm to store patterns minimize steps
            required to solve a cube.
          </li>
          <li>
            Implemented Korf’s IDA* Algorithm achieving a solving time of under
            10 seconds for a Rubik’s cube jumbled 13 times.
          </li>
        </ul>
        <strong
          ><span class="default-highlight"
            >Osteosarcoma Detection Algorithm</span
          ></strong
        >
        <ul>
          <li>
            Implemented two models, a multi-class Support Vector Machine, and a
            boosting ML model.
          </li>
          <li>
            Engineered an image feature extraction pipeline using GLCM matrices
            from the CellProfiler library, processing thousands of images in
            10-12 seconds
          </li>
          <li>
            of images in 10-12 seconds. ◦ Employed boosting algorithms from
            XGBoost Library, on the extracted features, such as entropy, ASM,
            contrast et al
          </li>
          <li>
            Attained 90+ % accuracy, with the model, second best among existing
            algorithms and research papers.
          </li>
          <li>
            Model was also compared with the SVM-based model, attaining 53 %
            accuracy
          </li>
        </ul>
        <strong
          ><span class="default-highlight"
            >Pic-Tale : Bridging the gap between images and text</span
          ></strong
        >
        <ul>
          <li>
            Set up a model that works with HuggingFace API and integrates the
            stable diffusion model
          </li>
          <li>
            Implemented an img2img pipeline for generating images using two text
            prompts and altering/merging provided images with prompts
          </li>
          <li>
            In the image-to-text model deployed YOLO for object
            segmentation-based predictions, and CLIP interrogator for contextual
            correctness to the image
          </li>
          <li>
            Used Google Bard API for language model integration, to generate
            simple sentences from generated words.
          </li>
          <li>
            Prompt-engineered queries to ensure semantic meaning still has a
            contextual relation to the image.
          </li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group
      heading="Profiles"
      [panelClass]="customClass"
      class="accordion-title"
    >
      <div class="profiles">
        <ul>
          <li>
            LeetCode-
            <a href="https://leetcode.com/u/adiroy2/"
              ><span class="default-highlight">adiroy2</span></a
            >
          </li>
          <li>
            Github-
            <a href="https://github.com/adiroy28852"
              ><span class="default-highlight">adiroy28852</span></a
            >
          </li>
          <li>
            Codefores-
            <a href="https://codeforces.com/profile/adiroy2"
              ><span class="default-highlight">adiroy2</span></a
            >
          </li>
          <li>
            Atcoder-
            <a href="https://atcoder.jp/users/adiroy2"
              ><span class="default-highlight">adiroy2</span></a
            >
          </li>
        </ul>
      </div>
    </accordion-group>
  </accordion>
</div>
