<div class="row align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h2 class="home-author">Aditya Roy Chowdhury</h2>
        <blockquote>
            Aspiring software engineer, with a knack for math, problem solving and algorithms. Trying to learn and apply my brains to solve real life problems, and "be useful"
        </blockquote>
        <button>
            <a routerLink="/portfolio">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  